<!DOCTYPE html>
<html>
<head>
    <title>Log In</title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<h1>Login</h1>
<form>
    <div class="form-group">
        <label for="emailIn">Email address</label>
        <input type="email" class="form-control" id="emailIn1" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="passwordIn">Password</label>
        <input type="password" class="form-control" id="pwIn1" placeholder="Enter password">
    </div>
    <a href="/logIn/submission"><button type="button" class="btn btn-primary">Submit</button></a>
</form>
</body>
</html>
