body {
  padding: 50px;
  font-family: 'Raleway', sans-serif !important;
  font-size: 14px !important;
}

body,html {
  height: 100%;
  margin:0px;
  background-image: url("../images/landing1015-airplane.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1
{
  font-size: 25px !important;
  text-align: center;
  font-family: 'Raleway', sans-serif !important;
}



a {
  color: #00B7FF;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}
