body {
  padding: 50px;
  font-family: 'Raleway', sans-serif !important;
  font-size: 25px !important;
}

body,html {
  height: 100%;
  margin:0px;
  background-image: url("../images/landing1015-airplane.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1
{
  text-align: center;
  font-family: 'Raleway', sans-serif !important;
}



a {
  color: #00B7FF;
}

.form-group {
  margin-left: 5px;
  margin-right: 20px;
}